<div class="container">
  <div class="row justify-content-center align-self-center">
    <div class="col-lg-12 col-sm-12" style="padding-top: 93px">
            <div class="card hovercard" >
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <input
                        style="display: none"
                        #imageInput
                        #upload_avatar
                        type="file"
                        accept="image/*"
                        (change)="processFile(imageInput)"
  />
                    <img alt="" style="cursor: pointer" (click)="upload_avatar.click()" src="{{ imageUrl }}">
                </div>
                <div class="info">
                    <div class="title">
                      <a class="btn btn-link" (click)="authService.logout()">Logout</a>
                    </div>
                </div>
                <div class="info">
                  <div class="title">
                    <a class="btn btn-link" (click)="userService.deleteUserOrganization()">Borrar perfil</a>
                  </div>
              </div>
            </div>

        </div>

  </div>
</div>
