<div class="container">
  <div class="row">
    <div class="col-6">
        <h3>Crear Sala</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
        <form
        [formGroup]="concerthallForm"
        (ngSubmit)="addConcerthall()">
          <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label style="font-family: Courier">NOMBRE LOCAL</label>
                      <input type="text" class="form-control" formControlName="full_name" class="input">
                      <div class="line-box">
                      </div>
                    </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label style="font-family: Courier">CALLE</label>
                      <input type="text" class="form-control" formControlName="street" class="input">
                      <div class="line-box">
                      </div>
                    </div>
              </div>
          </div>
          <div class="row">
              <div class="col-6">
                  <div class="form-group">
                      <label style="font-family: Courier">NÚMERO</label>
                        <input type="number" class="form-control" formControlName="number" class="input">
                        <div class="line-box">
                        </div>
                    </div>
              </div>
              <div class="col-6">
                  <div class="form-group">
                      <label style="font-family: Courier">ZIP</label>
                        <input type="number" class="form-control" formControlName="zip" class="input">
                        <div class="line-box">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label style="font-family: Courier">CIUDAD</label>
                          <input type="text" class="form-control" formControlName="city" class="input">
                          <div class="line-box">
                          </div>
                        </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label style="font-family: Courier">TELÉFONO</label>
                          <input type="text" class="form-control" formControlName="phone_number" class="input">
                          <div class="line-box">
                          </div>
                        </div>
                  </div>
              </div>
              <div class="form-group">
                  <label style="font-family: Courier">WEB</label>
                    <input type="text" class="form-control" formControlName="website" class="input">
                    <div class="line-box">
                    </div>
              </div>
                <div class="form-group">
                  <label style="font-family: Courier">DESCRIPCIÓN</label>
                    <textarea  class="form-control" formControlName="description"></textarea>
                    <div class="line-box">
                    </div>
                </div>

            <button type="submit" type="button" class="btn btn-primary" id="sendbutton" [routerLink]="['/user']" routerLinkActive="router-link-active" >ENVIAR</button>
        </form>
      </div>
  </div>
</div>
