
<div class="container">
  <div class="row">
    <div class="col-12">
      {{ userService.userData.organizationData[0].full_name }} <button (click)="showConcerthallForm()" type="button" class="btn btn-success"> <i class="fas fa-plus"></i>Añadir Sala</button>
    </div>
  </div>
  <div *ngFor="let local of userService.userData.concerthallsData">
  <div class="row">
      <div class="col-8" style="background-color: blanchedalmond">
          <span><h3 style="display: inline-block;padding-right: 10px">{{ local.full_name }} </h3><i (click)="editConcerthall()" style="cursor: pointer" class="fas fa-pen fa-sm" style="display: inline-block;"></i>&nbsp;&nbsp;<i (click)="deleteConcerthall(local.id_localhall)" style="cursor: pointer" class="fas fa-trash fa-sm" style="display: inline-block;"></i></span>
      </div>
  </div>
  <div class="row" >
       <div class="col-4" style="background-color: blanchedalmond">
          <ul>
            <li>Dirección: {{ local.address }}</li>
            <li>Página web: {{ local.website }}</li>
            <li>Teléfono: {{ local.phone_number }}</li>
            <li>Descripción del local: {{ local.description }}</li>
          </ul>
        <button type="button" class="btn btn-success btn-sm"><i class="fas fa-plus"></i>Añadir Concierto </button>
      </div>
      <div class="col-4" style="background-color: blanchedalmond">
          <div *ngFor="let concert of userService.userData.concertsData">
            <div *ngIf="local.id_localhall === concert.id_localhall">
              <div class="card bg-light mb-3" style="max-width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{ concert.full_name }}<span (click)="deleteConcert(concert.id_concert, concert.id_localhall)" style="cursor: pointer" class="float-right"><i class="fas fa-trash fa-sm"></i></span><span (click)="editConcert()" style="cursor: pointer;padding-right: 13px" class="float-right"><i class="fas fa-pen fa-sm"></i></span></h5>
                    <p class="card-text">Fecha: {{ concert.date | date:'dd/MM/yy, hh:mm a' }}</p>
                    <p class="card-text">Entradas: {{ concert.tickets }}</p>
                    <p class="card-text">Estilo: {{ concert.style }}</p>
                    <p class="card-text">Descripción: {{ concert.description }}</p>
                  </div>
            </div>
            </div>
            </div>
      </div>
    </div>
  </div>
</div>

