<div class="p-2">
<agm-map style="height: 90vh; border: 2px;width: 60vw" [latitude]="+searchService.searchData.coordinates.lat" [longitude]="+searchService.searchData.coordinates.lng" [zoom]=16 [styles]='styles'>
  <agm-marker [iconUrl]="{ url: '../../../assets/map-person-82.png', scaledSize: { width: 40, height: 40 }}" [latitude]="searchService.searchData.coordinates.lat" [longitude]="searchService.searchData.coordinates.lng">
  <agm-snazzy-info-window [maxWidth]="800" [closeWhenOthersOpen]="true">
    <ng-template>
      <h2 style="font-family: Courier; font-size: 1rem;">¡Estás aquí!</h2>
    </ng-template>
  </agm-snazzy-info-window>
</agm-marker>
  <div *ngFor="let local of searchService.searchData.concerthallsData">
    <agm-marker [latitude]="local.lat" [longitude]="local.lng" [iconUrl]="{ url: '../../../assets/marker.png', scaledSize: { width: 40, height: 40 }}">
      <agm-snazzy-info-window [maxWidth]="400" [closeWhenOthersOpen]="true">
        <ng-template>
          <h5 class="card-title" style="font-family: Courier"> <strong> {{ local.full_name }} </strong></h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ local.description }}</h6>
          <div *ngFor="let concert of searchService.searchData.concertsData">
            <div *ngIf="local.id_localhall === concert.id_localhall">
              <div class="card bg-light mb-3" style="max-width: 18rem; border: 0;">
                  <div class="card-body">
                    <h5 class="card-title">{{ concert.band }}</h5>
                    <p class="card-text">Fecha: {{ editTime(concert.date) }}</p>
                    <p class="card-text" *ngIf="concert.tickets">Entradas: {{ concert.tickets }}</p>
                    <p class="card-text" *ngIf="concert.style">Estilo: {{ concert.style }}</p>
                    <p class="card-text" *ngIf="concert.description">Descripción: {{ concert.description }}</p>
                  </div>
            </div>
            </div>
            </div>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
  </div>
</agm-map>
</div>
