<ng-container *ngIf="control.dirty || control.touched">
    <div class="invalid-feedback" *ngIf="control.hasError('required')">
      <i class="fa fa-exclamation-triangle"></i> Máis datos. MAIS DATOS.
    </div>

    <div class="invalid-feedback" *ngIf="control.hasError('malformedMail')">
      <i class="fa fa-exclamation-triangle"></i> Error. Tu email no está bien formado.
    </div>

    <div class="invalid-feedback" *ngIf="control.hasError('missingArroba')">
      <i class="fa fa-exclamation-triangle"></i> Error. Falta la @.
    </div>

    <div class="invalid-feedback" *ngIf="control.hasError('minlength')">
      <i class="fa fa-exclamation-triangle"></i> Error. Longitud insuficiente.
    </div>
  </ng-container>

  <ng-container *ngIf="group?.dirty || group?.touched">
    <div
      class="invalid-feedback"
      *ngIf="control.valid && group?.hasError('passwordMismatch')"
    >
      <i class="fa fa-exclamation-triangle"></i> El password y la confirmación no coinciden.
    </div>
  </ng-container>
