<ng-container *ngIf="control.dirty || control.touched">
    <div class="invalid-feedback" *ngIf="control.hasError('required')">
      <i class="fa fa-exclamation-triangle"></i> Aquí vas a tener que poner algo porque si no, no voy a funcionar. ¿En serio tengo que explicarte esto? Ay señor, llévame pronto.
    </div>

    <div class="invalid-feedback" *ngIf="control.hasError('malformedMail')">
      <i class="fa fa-exclamation-triangle"></i> Tu email es deforme. Como tú.
    </div>

    <div class="invalid-feedback" *ngIf="control.hasError('missingArroba')">
      <i class="fa fa-exclamation-triangle"></i> Un email lleva arroba. Espabila, desgraciado.
    </div>

    <div class="invalid-feedback" *ngIf="control.hasError('minlength')">
      <i class="fa fa-exclamation-triangle"></i> Oye, que las letras son gratis eh. Joder, vaya rata.
    </div>
  </ng-container>

  <ng-container *ngIf="group?.dirty || group?.touched">
    <div
      class="invalid-feedback"
      *ngIf="control.valid && group?.hasError('passwordMismatch')"
    >
      <i class="fa fa-exclamation-triangle"></i> El password y la confirmación no coinciden.
    </div>
  </ng-container>
